<div class="search-container">
  <h1 class="app-name">ListenVL</h1>
  <div class="query">
    <input id="search-box" placeholder="Enter song name" type="text"/>
    <i class="search fa fa-search fa-lg" id="search-icon" aria-hidden="true"></i>
  </div>
  <div id="search-results">
  </div>
</div>
