@import "modules/colors";
@import "modules/dimensions";

@import "vendor/skeleton";
@import "vendor/normalize";
@import "vendor/jquery-ui";

.search-container {
  position: relative;
  width: 80%;
  margin: 20% auto;
  max-width: $max-width;
  min-width: $min-width;

  -webkit-transition-property: margin; // Safari
  -webkit-transition-duration: 0.5s; // Safari
  transition-property: margin;
  transition-duration: 0.5s;

  h1 {
    color: $primary-color;
    font-weight: bold;
    text-align: center;
  }

  .query {
    #search-box {
      width: 100%;
    }
    #search-icon {
      color: $primary-color;
      position: absolute;
      right: 10px;

      -webkit-transform: translate(0px, -25px); // Safari
      transform: translate(0px, -25px);
    }
  }

  .search-results {
    .video-link {
      color: $link-color;
      &:hover {
        color: $link-hover-color;
      }
    }
  }
}
