<html>
  <head>
    <title>Search</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="/js/util.js"></script>
    <script src="/js/search.js"></script>
    <script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>
  </head>
  <body>

    <!-- PLAYER -->
    <div hidden>
      <div id="player"></div>
    </div>

    <div id="video-title"></div>

    <span id="current-time"></span> sec / <span id="duration"></span> sec<br>
    <input type="range" id="progress-bar" min="0" max="100" style="width: 400px;">

    <table>
      <tr>
        <th><button id="play-pause-video-btn"></button></th>
        <td><div id="play-status"></div></td>
      </tr>
      <tr>
        <th><button id="loop-video">Loop</button></th>
        <td><div id="loop-status"></div></td>
      </tr>
    </table>

    <!-- SEARCH -->
    <input id="query" placeholder="search" type="text"/>
    <button id="search-button" disabled>Search</button>

    <div id="search-results">
    </div>

  </body>
</html>
