a:link {
  color: #1692d4;
}

a:visited {
  color: #660099;
}

.video-container {
  display: none;
}

button {
  width: 50px;
}

button#show-video-btn {
  width: 100px;
  margin-bottom: 5px;
}

table {
  padding-bottom: 10px;
}

#progress-bar {
  width: 400px;
}

.search-result {
  padding-top: 5px;
}
